.contactform-input-container input:-webkit-autofill,
.contactform-input-container input:-webkit-autofill:hover, 
.contactform-input-container input:-webkit-autofill:focus,
.contactform-input-container input:-webkit-autofill:active {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  color: #c8c8c8 !important;
  -webkit-text-fill-color: #c8c8c8 !important;
}

.contactform-input-container input:-webkit-autofill::first-line {
  color: #c8c8c8;
  font-family: inherit;
}

.contactform-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #697a8b59;
  background-color: #39618741;
  min-width: 15vw;
}

.contactform-title {
  color: #dedede;
}

.contactform-form {
 
}

.contactform-input-container,
.contactform-textarea-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
}

.contactform-input-container > input {
  outline: 0.5px solid #a5a5a557;
  color: #bbbbbb;
  margin: 0;
  background-color: initial;
}

.contactform-input-container > input:disabled {
  opacity: 50%;
}

.contactform-textarea-container > textarea {
  outline: 0.5px solid #a5a5a557;
  resize: none;
  overflow-y: auto;
  color: #bbbbbb;
  margin: 0;
  background-color: initial;
}

.contactform-input-container > input:focus,
.contactform-textarea-container > textarea:focus {
  outline: 1px solid #d2d2d2ab;
}

.contactform-input-container > span,
.contactform-textarea-container > span {
  color: #ca5e5e;
}

/* keyframes */
@keyframes blink {
  0%, 100% { opacity: 0; }
  50%       { opacity: 1; }
}

.dot {
  animation: blink 1.2s infinite;
}

.dot:nth-child(2) { animation-delay: 400ms; }
.dot:nth-child(3) { animation-delay: 800ms; }