input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  color: #dedede !important;
  -webkit-text-fill-color: #dedede !important;
}

input:-webkit-autofill::first-line {
  color: #dedede;
  font-family: inherit;
}

.contactform-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #84a9cc59;
  background-color: #00000041;
  min-width: 15vw;
}

.contactform-title {
  color: #dedede;
}

.contactform-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactform-input-container,
.contactform-textarea-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
}

.contactform-input-container > input {
  outline: 0.5px solid #a5a5a557;
  color: #dedede;
  margin: 0;
  background-color: initial;
}

.contactform-input-container > input:disabled {
  opacity: 50%;
}

.contactform-textarea-container > textarea {
  outline: 0.5px solid #a5a5a557;
  resize: none;
  overflow-y: auto;
  color: #dedede;
  margin: 0;
  background-color: initial;
}

.contactform-input-container > input:focus,
.contactform-textarea-container > textarea:focus {
  outline: 1px solid #d2d2d2ab;
}

.contactform-input-container > span,
.contactform-textarea-container > span {
  color: #ca5e5e;
}

.contactform-form > button {
  background-color: #2b2b2b;
  color: #dedede;
  font-weight: 600;
  width: fit-content;
  aspect-ratio: 3/1;
  border-radius: 2px;
}

.contactform-form > button:hover {
  transform: scale(1.02);
}