/**************** accordiones *****************/
.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.accordion-label-container {
  display: inline-flex;
  flex-direction: row;
  position: relative;
}

.accordion-label-container > label {
  display: inline-block;
  text-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  color: aliceblue;
  background: linear-gradient(150deg, #253164 0%, #0070ef80 85%, #c3cdd8 92%, #0070ef80 100%);
}

.accordion-label-container > button {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 1%;
  background: transparent;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.accordion-content {
  display: inline-block;
  overflow: hidden;
  transition: height 0.8s ease;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.accordion-content > div > span {
  display: block;
}

@media screen and (max-width: 719.9px) {
  /**** accordiones ****/
  .accordion-container {
    width: calc((100% - (5vw * (1 - 1))) / 1);
      
  }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
  /**** accordiones ****/
  .accordion-container {
    width: calc((100% - (3.5vw * (2 - 1))) / 2);
      
  }
}

@media screen and (min-width: 1025px) {
  /**** accordiones ****/
  .accordion-container {
    width: calc((100% - (3.5vw * (2 - 1))) / 2);
  }
}