.skill-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/********************** Competencies ***********************/
.skill-subcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.skill-title {
  margin: 0;
  padding: 0;
}
.skill-main {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.skill-flipcard-container {
  display: inline-block;
  background-color: transparent;
  flex-grow: 1;
  perspective: 1000px;
}
.skill-flipcard-inner {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  will-change: transform;
}

.skill-flipcard-front {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #cecccc;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  background:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("/bg/card/6.jpg");

  background-size: cover;
}
.skill-progressbar-title {
  max-width: 100%;
  padding: 0;
  margin: 0;
  color: #555555;
  font-weight: 800;
}

.skill-flipcard-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg);
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #cecccc;
  line-height: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  cursor: pointer;
}
.skill-flipcard-back img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  line-height: 0;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  max-height: 100%;
  box-sizing: border-box;
}
.skill-flipcard-front,
.skill-flipcard-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Safari */
}