.we-container {
  display: inline-flex;
  flex-direction: column;
}

.we-subcontainer {
  display: flex;
  flex-direction: column;
}

.we-title {
  margin: 0;
  padding: 0;
  color: #606060;
  position: relative;
}

.we-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}