.footer-container {
  display: flex;
  box-sizing: border-box;
  max-height: 100%;
  height: auto;
  width: 100%;
  max-width: 100%;
  background: 
    radial-gradient(circle at 10% 25%, rgba(100, 100, 100, 0.1), transparent 40%),
    radial-gradient(circle at 80% 65%, rgba(45, 45, 45, 0.08), transparent 50%),
    radial-gradient(circle at 40% 50%, rgba(55, 55, 55, 0.06), transparent 55%),
    radial-gradient(circle at 60% 20%, rgba(65, 65, 65, 0.05), transparent 60%),
    linear-gradient(135deg, 
      #2E2E2E 0%,    /* base más clara y mate */
      #393939 20%,   /* gris muy oscuro ajustado */
      #454545 40%,   /* gris profundo medio ajustado */
      #515151 60%,   /* gris suave ajustado */
      #454545 80%,   /* gris profundo medio de nuevo */
      #393939 90%,   /* gris muy oscuro */
      #2E2E2E 100%   /* base mate final */
    );
}

.foot-element-container {
  display: inline-flex;
}

/*********************** date ************************/

.foot-date-container {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.foot-date-text {
  color: #dde1e3
}