footer {
  display: flex;
  box-sizing: border-box;
  max-height: 100%;
  height: auto;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(135deg, 
    #0077b5 0%, 
    #1e668d 20%, 
    #4da1c3 40%, 
    #0077b5 60%, 
    #1e668d 75%, 
    #1e668d 85%,  
    #0077b5 100%
  );
}

.foot-element-container {
  display: inline-flex;
  align-items: center
}

/*********************** date ************************/

.foot-date-container {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.foot-date-text {
  color: #dde1e3
}