.header-container {
  display: flex;
  height: auto;
  max-height: 100vh;
  width: 100vw;
  max-width: 100%;
}

/* presentation */
.header-presentation {
  display: flex;
}

.header-presentation-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #f3f5f5;
  box-sizing: border-box;
}

.header-title {
  display: flex;
}

/* buttons */
.header-btn-section {
  display: flex;
}

.header-list {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.header-item {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  list-style-type: none;
  box-sizing: border-box;
}

.header-link {
  display: flex;
  flex-grow: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  text-wrap: nowrap;
}

/* efecto: elemento activo */
